<launch>
    <node pkg="optimal_control_interface" name="optimal_control_node" type="optimal_control_interface_node" output="screen" ns="drone_1">
        <param name="drone_id" value="1"/>
        <param name="solver_rate" value="0.5"/>
        <rosparam param="desired_wp">[-8.9036, -19.3464, 7]</rosparam><!-- [x,y,z] -->
        <rosparam param="drones">[1, 2, 3]</rosparam>
        <rosparam param="desired_vel">[0, 0, 0]</rosparam><!-- [x,y,z] -->
        <rosparam param="no_fly_zone">[-2.4, -36.5]</rosparam> <!-- [-2.4, -36.5] -->
        <rosparam param="target_final_pose">[-7,-46]</rosparam>
        <param name="priority" type="int" value="1"/>
    </node>
    <node pkg="optimal_control_interface" name="optimal_control_node" type="optimal_control_interface_node" output="screen" ns="drone_2">
        <param name="drone_id" value="2"/>
        <param name="solver_rate" value="0.5"/>
        <rosparam param="desired_wp">[-11.33, -40.42, 11]</rosparam>
        <rosparam param="drones">[1, 2, 3]</rosparam>
        <rosparam param="desired_vel">[0, 0, 0]</rosparam> 
        <rosparam param="no_fly_zone">[-2.4, -36.5]</rosparam> 
        <rosparam param="target_final_pose">[-7,-46]</rosparam>
        <param name="priority" type="int" value="2"/>
    </node> 
    
    <node pkg="optimal_control_interface" name="optimal_control_node" type="optimal_control_interface_node" output="screen" ns="drone_3">
        <param name="drone_id" value="3"/>
        <param name="solver_rate" value="0.5"/>
        <rosparam param="desired_wp">[-32.40, -37.99, 7]</rosparam>
        <rosparam param="drones">[1, 2, 3]</rosparam>
        <rosparam param="desired_vel">[0, 0, 0]</rosparam>
        <rosparam param="no_fly_zone">[-2.4, -36.5]</rosparam> 
        <rosparam param="target_final_pose">[-7,-46]</rosparam>
        <param name="priority" type="int" value="3"/>
    </node> 
</launch>

